@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');


.openBox{
    margin: 26px 30px 0px 32px;
    width: -webkit-fill-available;
    outline: 0;
    font-size: 15px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}